script(src='//code.jquery.com/jquery-3.3.1.min.js')   
script(src='//cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js')
script(src='/public/dashboard/semantic-ui/semantic.min.js')
script(src='/public/dashboard/js/pjax/jquery.pjax.js')
script(src='//cdn.jsdelivr.net/npm/jquery.hotkeys@0.1.0/jquery.hotkeys.min.js')
script(src='//cdn.jsdelivr.net/gh/Baw-Appie/scriptLoader@0.1/scriptLoader.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js')
script(src='//developers.kakao.com/sdk/js/kakao.min.js')
script(src='//www.gstatic.com/firebasejs/5.0.4/firebase-app.js')
script(src='//www.gstatic.com/firebasejs/5.0.4/firebase-messaging.js')
script.
  var browser = "#{browser}"
  var hostname = "#{hostname}"
  var version = "#{version}"
  var config = {
    apiKey: "#{server_settings.firebase_apiKey}",
    projectId: "#{server_settings.firebase_projectId}",
    messagingSenderId: "#{server_settings.firebase_SenderID}",
  };
  firebase.initializeApp(config);
  var messaging = firebase.messaging();
  
script(src='/public/dashboard/js/dashboard/settings.js')
script(src='/public/dashboard/js/dashboard/hotkey.js')
script(src='/public/dashboard/js/dashboard/UnsupportedBrowser.js')
if(!user)
  script.
    var clientId = "#{oauth_info.googleid}"
  script(src='/public/dashboard/js/dashboard/smartlock.js')
if(user)
  script(src='/public/dashboard/js/dashboard/firebase-message.js')
