script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')   
script(src='https://#{hostname}/public/pjax/jquery.pjax.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js')
script(src="https://#{hostname}/public/uikit/js/uikit.min.js")
script(src="https://#{hostname}/public/uikit/js/uikit-icons.min.js")
script(src="https://#{hostname}/public/dashboard/js/settings.js")
script(src="https://#{hostname}/public/fontawesome/js/fontawesome-all.min.js")
script(src="https://#{hostname}/public/fontawesome/js/fa-v4-shims.min.js")
