script(src='https://code.jquery.com/jquery-3.3.1.min.js')   
script(src='https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.3.0/js/iziToast.min.js')
script(src=`https://${hostname}/public/dashboard/js/uikit/uikit.min.js`)
script(src=`https://${hostname}/public/dashboard/js/uikit/uikit-icons.min.js`)
script(src=`https://${hostname}/public/dashboard/js/pjax/jquery.pjax.js`)
script(src=`https://${hostname}/public/dashboard/js/fontawesome/fontawesome-all.min.js`)
script(src=`https://${hostname}/public/dashboard/js/fontawesome/fa-v4-shims.min.js`)
script(src='https://cdn.jsdelivr.net/gh/Baw-Appie/scriptLoader@0.1/scriptLoader.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js')
script(src=`https://developers.kakao.com/sdk/js/kakao.min.js`)
script.
  var browser = "#{browser}"
  var hostname = "#{hostname}"
  var version = "#{version}"
  
  if(browser.indexOf("Chrome") == -1 && browser.indexOf("Edge") == -1 && browser.indexOf("Safari") == -1){
    iziToast.warning({ title: "미지원 브라우저 사용중", message: "현재 미지원 브라우저를 사용하고 있습니다. 최적의 환경을 위하여 Safari 또는 Chrome으로 접속하세요." })
    if(browser.indexOf("IE") != -1){
      if(location.href.indexOf("UnsupportedBrowser") == -1){
        if(sessionStorage.getItem('ignoreBrowserWarning') == undefined){
          location.href='https://'+hostname+'/UnsupportedBrowser'
        } else {
          iziToast.error({ title: "IE 경고 무시중", message: "임시로 IE 경고를 해제합니다." })
        }
      }
    }
  }
script(src=`https://${hostname}/public/dashboard/js/dashboard/settings.js`)
if(!user)
  script.
    var clientId = "#{oauth_info.googleid}"
  script(src=`https://${hostname}/public/dashboard/js/dashboard/smartlock.js`)
