.uk-section-primary.uk-preserve-color
  div(uk-sticky='animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200')
    nav.uk-navbar-container.uk-margin(uk-navbar='')
      .uk-navbar-left
        a.uk-navbar-item.uk-logo(href='https://#{hostname}/')
          img(src="https://#{hostname}/public/img/logo.png" width="180")
          //| Baw Service Beta 4
        ul.uk-navbar-nav(class="uk-visible@s")
          li
            a(href='https://baws.kr')
              |                     기존 대시보드로 돌아가기
      .uk-navbar-right
        ul.uk-navbar-nav(class='uk-visible@s')
          if(!user)
            button.uk-button.uk-button-default.uk-margin-small-right(type='button', uk-toggle='target: #login-slide') Sign In
          else
            a(onclick="location.href='https://#{hostname}/auth/logout'")
              button.uk-button.uk-button-default.uk-margin-small-right(type='button') #{user.id} Sign Out
        a.uk-navbar-toggle(uk-navbar-toggle-icon='', href='#navbar', class='uk-hidden@s', uk-toggle='')
        
        
        
        #login-slide(uk-offcanvas='overlay: true')
          .uk-offcanvas-bar
            button.uk-offcanvas-close(type='button', uk-close='')
            h3 로그인
            form(action="https://#{hostname}/auth/login" method="post")
              p Baw Service에 로그인하려면 아래 정보를 입력하세요.
              .uk-margin
                  input.uk-input(name="id" type="text" placeholder="ID")
              .uk-margin
                  input.uk-input(name="pass" type="password" placeholder="Password")
              p
                button.uk-button.uk-button-default.uk-width-1-1 로그인
              p 아직 계정이 없으신가요?
              p
                button.uk-button.uk-button-primary.uk-width-1-1 회원가입
              a(onclick="location.href=('https://#{hostname}/auth/google')")
                p Google 계정으로 로그인하기
              a(onclick="location.href=('https://#{hostname}/auth/kakao')")
                p 카카오 계정으로 로그인하기

                
                
        #navbar(uk-offcanvas='overlay: true')
          .uk-offcanvas-bar
            button.uk-offcanvas-close(type='button', uk-close='')
            include sidebar
            if(!user)
              button.uk-button.uk-button-default.uk-margin-small-right(type='button', uk-toggle='target: #login-slide') Sign In
            else
              a(onclick="location.href='https://#{hostname}/auth/logout'")
                button.uk-button.uk-button-default.uk-margin-small-right(type='button') #{user.id} Sign Out
