ul.uk-nav-default.uk-nav-parent-icon(uk-nav='multiple: true')
  li.uk-active
    a(href='https://#{hostname}') 홈
  li.uk-nav-header SERVICE MANAGEMENT
  li.uk-parent
    a(href='#') 추가 및 관리
    ul.uk-nav-sub
      li
        a(href='https://#{hostname}/manage') 전체 보기
      li
        a(href='https://#{hostname}/manage/1/edit') 후원 사이트
      li
        a(href='https://#{hostname}/manage/2/edit') 정품 인증 사이트
      li
        a(href='https://#{hostname}/manage/3/edit') 서버 상태 위젯
  li.uk-parent
    a(href='#') 부가 서비스 관리
    ul.uk-nav-sub
      li
        a(href='#') API 플러그인 설정
      li
        a(href='#') SMS 알림 설정
      li
        a(href='#') KakaoTalk 알림 설정
      li
        a(href='#') Slack 알림 설정
      li
        a(href='#') Telegram 알림 설정
  li
    a(href='#') 커스텀 도메인 설정
  li.uk-nav-header BAW SERVICE
    a(href='http://baw-service.tistory.com') Baw Service 공식 블로그
    
