extends ./includes/layout
block contents
  .uk-grid-small.uk-child-width-1-2.uk-text-center(class='uk-child-width-1-4@s', uk-grid)
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 총 후원 금액
          h4 #{a1}원
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 30일 이내 후원 금액
          h4 #{a2}원
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 총 거절된 후원 횟수
          h4 #{a3}번
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 총 정품 인증 처리 횟수
          h4 #{a4}번
  br
  p 안녕하세요! #{user.id}님! Baw Service를 선택해주셔서 감사합니다 :)
  p 현재 Baw Service의 기능 강화가 진행중이에요!
  p 강화 확률은 99%지만, 얼마나 오래 걸릴지, 어떠한 버그가 나올지 몰라요.
  p 만약 버그가 발견되면 가만히 냅두지 말고 잡아서 아래 연락처로 신고해주세요!
  p 카카오톡: pp121324, 이메일: pp121324@gmail.com
