extends ./includes/layout
block contents
  .uk-grid-small.uk-child-width-1-2.uk-text-center(class='uk-child-width-1-4@s', uk-grid)
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 총 후원 금액
          h4 #{a1}원
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 30일 이내 후원 금액
          h4 #{a2}원
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 총 거절된 후원 횟수
          h4 #{a3}번
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 총 정품 인증 처리 횟수
          h4 #{a4}번
  br
  p 앗! 이 페이지를 보고 계신다면 #{user.id}님이 Baw  Service Beta 4에 오신걸 환영해요!
  p 지금 Baw Service Beta 4는 모든 기능이 완성하고 나머지 일부 기능을 Beta 3로부터 가져오고 있어요!
  p Baw Service Beta 4는 아직 많이 불안정해서 문제가 많이 발생할 수 있어요. 그럴때는 아래 연락처로 알려주세요!
  p 카카오톡: pp121324, 이메일: pp121324@gmail.com
