extends ./includes/layout
block contents
  .uk-grid-small.uk-child-width-1-2.uk-text-center(class='uk-child-width-1-4@s', uk-grid)
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 총 후원 금액
          h4 #{a1}원
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 30일 이내 후원 금액
          h4 #{a2}원
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 총 거절된 후원 횟수
          h4 #{a3}번
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 총 정품 인증 처리 횟수
          h4 #{a4}번
  br
  .uk-card.uk-card-default.uk-card-body
    h3.uk-card-title 후원 차트
    p
      #chart
  br
  .uk-card.uk-card-default.uk-card-body
    h3.uk-card-title Baw Service Update News
    p 안녕하세요! #{user.id}님! Baw Service를 선택해주셔서 감사합니다 :)
    p 현재 Baw Service의 기능 강화가 진행중이에요!
    p 강화 확률은 99%지만, 얼마나 오래 걸릴지, 어떠한 버그가 나올지 몰라요.
    p 만약 버그가 발견되면 가만히 냅두지 말고 잡아서 아래 연락처로 신고해주세요!
    p 카카오톡: pp121324, 이메일: pp121324@gmail.com
block extscript
  script.
    var container = document.getElementById('chart');
    var data = {
        categories: ['2개월 전', '1개월 전', '이번달'],
        series: [
            {
                name: '후원 금액',
                data: [#{c3}, #{c2}, #{c1}]
            }
        ]
    }
    var options = {
        chart: {
            width: 1160,
            height: 540,
            title: '최근 후원 기록'
        },
        series: {
            zoomable: true,
            showDot: false,
            areaOpacity: 1
        },
        yAxis: {
            title: '3개월간의 후원 기록을 표시합니다.',
            pointOnColumn: true
        },
        xAxis: {
            title: 'Month'
        },
        tooltip: {
            suffix: '원'
        }
    }
    var theme = {
        series: {
            colors: [
                '#83b14e', '#458a3f', '#295ba0', '#2a4175', '#289399',
                '#289399', '#617178', '#8a9a9a', '#516f7d', '#dddddd'
            ]
        }
    }
