extends ./includes/layout
block contents
  .ui.grid.four.column
    .row.doubling.four.column 
      .column
        .ui.message
          | 총 후원 금액
          h4 #{a1}원
      .column
        .ui.message
          | 30일간 후원 금액
          h4 #{a2}원
      .column
        .ui.message
          | 후원 거절 횟수
          h4 #{a3}번
      .column
        .ui.message
          | 정품인증 성공 횟수
          h4 #{a4}번
  br
  .ui.grid.stackable
    .eight.wide.column
      .ui.message
        h3 후원 차트
        p
          canvas#chart(height="100px")
    .eight.wide.column
      .ui.message.column
        h3 Baw Service Blog 최신글
        table.ui.celled.table
          thead
            tr
              th 글 이름
              th 작성일
          tbody
            each list, index in items
              tr
                td
                  a(href=list.url)
                    | #{list.title}
                -const date = new Date(list.created).toISOString().slice(0,10);
                td=date
        .ui.buttons
          a.ui.button(href="https://baw-service.tistory.com") 더 보기
          .or
          a.ui.button.twitter(href="https://twitter.com/BawAppie")
            i.fab.fa-twitter
            |   @BawAppie 

  br
  br
  br

block extscript
  script.
    new Chart(
      document.getElementById("chart"),
      {
        "type":"line",
        "data":
        {
          "labels":
          [
            "2개월 전",
            "1개월 전",
            "이번달"
          ],
          "datasets":
          [
            {
              "label":"후원 금액",
              "data":
              [
                #{c3},
                #{c2},
                #{c1}
              ],
              "fill":false,
              "borderColor":"rgb(75, 192, 192)",
              "lineTension":0.1
            }
          ]
        },
        "options": {}
      }
    );
