extends ../includes/layout
block extscript
  script.
    $(function(){
      $("#edit").submit(function(){
        NProgress.start();
        $.ajax({
          type: "post",
          url : "#",
          data : $("#edit").serialize(),
          success : function s(a){
            if(a.success == true){
              iziToast.info({message: a.message, title: a.title})
              NProgress.done();
            } else {
              iziToast.warning({message: a.message, title: a.title})
              NProgress.done();
            }
          },
          error : function error(){ iziToast.warning({message: "Baw Service 빠른 설정 적용이 설정을 적용하는 도중 문제가 발생했습니다.", title:"이런.."}); }
        });
        return false;
      });
    });

block contents
  form(method="post", id="edit")
    .ui.header
      h2
        i.icon.wrench
        .content
          | #{data.name} 설정
    each group in options.groups
      .ui.attached.message
        .header
          | #{group.korean}
        p #{group.description}
      .ui.attached.fluid.segment.form
        if group.select
          each select in group.select
            - if(options.savetojson.indexOf(select.name) == -1){
              - var vdata = rows[0][select.name]
            - } else {
              - var vdata = pagedata[select.name]
            - }
            .field
              .ui.toggle.checkbox
                label #{select.korean}
                if vdata == 1
                  input.hidden(type='checkbox', name=select.name, value=1 checked)
                else
                  input.hidden(type='checkbox', name=select.name, value=1)
                br
        if group.custom_select
          each select, i in group.custom_select
            .inline.fields
              label(for=select.name) #{select.korean}
              each custom_list, oo in select.option_data
                - if(options.savetojson.indexOf(select.name) == -1){
                  - var vdata = rows[0][select.name]
                - } else {
                  - var vdata = pagedata[select.name]
                - }
                .field
                  .ui.radio.checkbox
                    if vdata.toLowerCase() == select['option_data'][oo].toLowerCase()
                      input.uk-radio(type='radio', name=select.name, value=select["option_data"][oo], checked)
                    else
                      input.hidden(type='radio', name=select.name, value=select["option_data"][oo])
                    label #{select["option_korean"][oo]}
                    
        if group.text
          each text, i in group.text
            .field
              label #{text.korean}
              - if(options.savetojson.indexOf(text.name) == -1){
                - var vdata = rows[0][text.name]
              - } else {
                - var vdata = pagedata[text.name]
              - }
              if vdata != ""
                input(type='text', name=text.name, placeholder=text.korean, value!=vdata)
              else 
                input(type='text', name=text.name, placeholder=text.korean)
              
        if group.textarea
          each textarea, i in group.textarea
            .field
              label #{textarea.korean}
              - if(options.savetojson.indexOf(textarea.name) == -1){
                - var vdata = rows[0][textarea.name]
              - } else {
                - var vdata = pagedata[textarea.name]
              - }
                if vdata != ""
                  textarea(name=textarea.name, placeholder=textarea.korean, rows=5) !{vdata}
                else
                  textarea(name=textarea.name, placeholder=textarea.korean, rows=5)
              
      br
    if options.text
      | !{options.text}
    br
    if(!options.do_not_save)
      button.ui.button.primary.icon.labeled(type="submit")
        i.icon.save
        |  설정 적용
      a(onclick="$.pjax.reload('#contents')")
        button.ui.button.icon.labeled(type="button")
          i.icon.undo
          |  적용 안함
    if(help)
      button.ui.icon.button.icon.labeled(type="button" onclick="$('#help-modal').modal('show')")
        i.icon.question
        | 도움말
  br
  br
  br
  br
  br
  if(help)
    .ui.modal#help-modal
      i.close.icon
      .header
        | 도움말
      .image.content
        .description
          .ui.header 도움말
          | !{help}
      .actions
        .ui.positive.right.labeled.button.icon
          | 닫기
          i.icon.close
