extends ../includes/layout
block contents
  form(method="post")
    fieldset.uk-fieldset
      legend.uk-legend #{data.name} 설정
      // SELECT INPUT
      each select, i in select_option_korean
        .uk-margin.uk-grid-small.uk-child-width-auto.uk-grid
          label #{select}
          - var name = select_option[i];
          label
            if rows[0][name] == 0
              input.uk-radio(type='radio', name='#{name}', value=0, checked)
              |  차단
            else
              input.uk-radio(type='radio', name='#{name}', value=0)
              |  차단
              
          label
            if rows[0][name] == 1
              input.uk-radio(type='radio', name='#{name}', value=1, checked)
              |  허용
            else
              input.uk-radio(type='radio', name='#{name}', value=1)
              |  허용
      // TEXT INPUT
      each text, i in text_option_korean
        .uk-margin
          label #{text}
          - var name = text_option[i];
          - var value = rows[0][name]
            if value != ""
              input.uk-input(type='text', name='#{name}', placeholder='#{text}', value="#{value}")
            else 
              input.uk-input(type='text', name='#{name}', placeholder='#{text}')
            
      // TEXTAREA INPUT
      each textarea, i in textarea_option_korean
        .uk-margin
          label #{textarea}
          - var name = textarea_option[i];
          - var value = rows[0][name]
            if value != ""
              textarea.uk-textarea(name='#{name}', placeholder='#{textarea}', rows=5) #{value}
            else
              textarea.uk-textarea(name='#{name}', placeholder='#{textarea}', rows=5)
              
      
      button.uk-button.uk-button-primary 설정 적용
      a(onclick="$.pjax.reload('#contents')")
        button.uk-button.uk-button-default 적용 안함
