extends ../includes/layout
block contents
  form
    fieldset.uk-fieldset
      legend.uk-legend #{data.name} 설정
      // SELECT INPUT
      each select, i in select_option_korean
        .uk-margin.uk-grid-small.uk-child-width-auto.uk-grid
          label #{select}
          - var name = select_option[i];
          label
            input.uk-radio(type='radio', name='#{name}', checked='')
            |  차단
          label
            input.uk-radio(type='radio', name='#{name}')
            |  허용
      // TEXT INPUT
      each text, i in text_option_korean
        .uk-margin
          label #{text}
          - var name = text_option[i];
            input.uk-input(type='text', name='#{name}', placeholder='#{text}')
            
      // TEXTAREA INPUT
      each textarea, i in textarea_option_korean
        .uk-margin
          label #{textarea}
          - var name = textarea_option[i];
            textarea.uk-textarea(name='#{name}', placeholder='#{textarea}')
