extends ../includes/layout

block extscript
  script.
    $(function(){
      $("#edit").submit(function(){
        NProgress.start();
        $.ajax({
          type: "post",
          url : "#",
          data : $("#edit").serialize(),
          success : function s(a){
            if(a.success == true){
              iziToast.info({message: a.message, title: a.title})
              NProgress.done();
            } else {
              iziToast.warning({message: a.message, title: a.title})
              NProgress.done();
            }
          },
          error : function error(){ iziToast.warning({message: "Baw Service 빠른 설정 적용이 설정을 적용하는 도중 문제가 발생했습니다.", title:"이런.."}); }
        });
        return false;
      });
    });

block contents
  form(method="post", id="edit")
    fieldset.uk-fieldset
      legend.uk-legend 
        | #{data.name} 설정
        if(help)
          button(class="uk-button uk-button-default uk-margin-small-right", uk-toggle='target: #help-modal', type='button')
            i(class="far fa-question-circle")
      // SELECT INPUT
      each select, i in select_option_korean
        .uk-margin.uk-grid-small.uk-child-width-auto.uk-grid
          label #{select}
          - var name = select_option[i];
          label
            if rows[0][name] == 0
              input.uk-radio(type='radio', name=name, value=0, checked)
              |  차단
            else
              input.uk-radio(type='radio', name=name, value=0)
              |  차단
              
          label
            if rows[0][name] == 1
              input.uk-radio(type='radio', name=name, value=1, checked)
              |  허용
            else
              input.uk-radio(type='radio', name=name, value=1)
              |  허용
      // CUSTOM_SELECT INPUT
      if custom_select_option
        each custom_select, i in custom_select_option
          .uk-margin.uk-grid-small.uk-child-width-auto.uk-grid
            label #{custom_select['korean']}
            - var name = custom_select['name'];
            each custom_list, oo in custom_select['options']
              label
                if rows[0][name].toLowerCase() == custom_select['option_data'][oo].toLowerCase()
                  input.uk-radio(type='radio', name=name, value=custom_select["option_data"][oo], checked)
                  |  #{custom_select["option_korean"][oo]}
                else
                  input.uk-radio(type='radio', name=name, value=custom_select["option_data"][oo])
                  |  #{custom_select["option_korean"][oo]}
      // CUSTOM_COMBO INPUT
      if custom_checkbox_option
        each custom_checkbox, i in custom_checkbox_option
          .uk-margin.uk-grid-small.uk-child-width-auto.uk-grid
            label #{custom_checkbox['korean']}
            - var name = custom_checkbox['name'];
            each custom_list, oo in custom_checkbox['options']
              label
                -if(rows[0][name].indexOf(custom_checkbox['option_data'][oo]) != -1)
                  input.uk-checkbox(type='checkbox', name=name, value=custom_checkbox["option_data"][oo], checked)
                  |  #{custom_checkbox["option_korean"][oo]}
                -else
                  input.uk-checkbox(type='checkbox', name=name, value=custom_checkbox["option_data"][oo])
                  |  #{custom_checkbox["option_korean"][oo]}
                
              
      // TEXT INPUT
      each text, i in text_option_korean
        .uk-margin
          label #{text}
          - var name = text_option[i];
          - var value = rows[0][name]
            if value != ""
              input.uk-input(type='text', name=name, placeholder=text, value=value)
            else 
              input.uk-input(type='text', name=name, placeholder=text)
            
      // TEXTAREA INPUT
      each textarea, i in textarea_option_korean
        .uk-margin
          label #{textarea}
          - var name = textarea_option[i];
          - var value = rows[0][name]
            if value != ""
              textarea.uk-textarea(name=name, placeholder=textarea, rows=5) !{value}
            else
              textarea.uk-textarea(name=name, placeholder=textarea, rows=5)
              
      // CUSTOM TEXT INPUT
      if custom_text
        | !{custom_text}
      
      br
      if(!do_not_save)
        button.uk-button.uk-button-primary(type="submit")
          i(class="fas fa-save")
          |  설정 적용
        button.uk-button.uk-button-default(type="button")
          a(onclick="$.pjax.reload('#contents')")
            i(class="fas fa-undo")
            |  적용 안함
      br
      br
      if(help)
        #help-modal(uk-modal='')
          .uk-modal-dialog.uk-modal-body
            h2.uk-modal-title 도움말
            p
              | !{help}
            p.uk-text-right
              button.uk-button.uk-button-default.uk-modal-close(type='button') 닫기
