extends ../includes/layout
block extscript
  script.
    $('.okay button').click(() => {
      var target = event.target
      var element = $(target).parent("div").parent("div")
      $(element).hide(500)
      var id = $(element).attr("id")
      if($(target).hasClass("okay1") === true){
        var url = "https://#{hostname}/manage/#{data.service}/complete/"+id+"/1"
        var realnoapi = false
      }
      if($(target).hasClass("okay1noapi") === true){
        var url = "https://#{hostname}/manage/#{data.service}/complete/"+id+"/1?noapi=true"
        var realnoapi = true
      }
      if($(target).hasClass("okay2") === true){
        var url = "https://#{hostname}/manage/#{data.service}/complete/"+id+"/2"
        var realnoapi = false
      }
      $.ajax({
        type: 'get',
        url : url,
        success : function s(a){
          if(a.success == true){
            iziToast.info({message: a.message, title: a.title})
            NProgress.done();
          } else {
            iziToast.warning({message: a.message, title: a.title})
            NProgress.done();
          }
        },
        error : function error(){ iziToast.warning({message: "Baw Service 빠른 설정 적용이 설정을 적용하는 도중 문제가 발생했습니다.", title:"이런.."}); }
      });
    })
	
block contents
  .uk-card.uk-card-default.uk-card-body(class='uk-width-auto')
    h3.uk-card-title #{data.name} 최근 처리 완료 후원 정보 [10개]
    each row, i in data1
      div(id=data1[i]["num"])
        each li, ii in list
          | #{korean[ii]}: #{data1[i][li]}
          br
        br
        div(class="okay")
          button.uk-button.uk-button-danger.okay2
            i(class="fas fa-times-circle")
            |  처리 거절으로 수정
        hr.uk-divider-icon
      
    - if (rows.length == 0)
      p 처리 성공된 #{data.name}이 없습니다.
      hr.uk-divider-icon
    p Powered by Baw Service
  br
  br
  .uk-card.uk-card-default.uk-card-body(class='uk-width-auto')
    h3.uk-card-title #{data.name} 최근 처리 거절 후원 정보 [5개]
    each row, i in data2
      div(id=data2[i]["num"])
        each li, ii in list
          | #{korean[ii]}: #{data2[i][li]}
          br
        br
        div(class="okay")
          button.uk-button.uk-button-primary.okay1
            i(class="fas fa-check-circle")
            |  처리 완료
          button.uk-button.uk-button-default.okay1noapi API 요청 없이 처리 완료
        hr.uk-divider-icon
      
    - if (rows.length == 0)
      p 처리 거절된 #{data.name}이 없습니다.
      hr.uk-divider-icon
    p Powered by Baw Service
  br
  br
