extends ../includes/layout
block contents
  .uk-grid-small.uk-grid-match(class='uk-child-width-1-3@m', uk-grid='')
    div
      .uk-card.uk-card-default.uk-card-body
        h3.uk-card-title 후원 홈페이지
        p 마인크래프트 후원을 받기에 가장 적합한 서비스
        if(data1)
          a(href="https://#{hostname}/manage/1/edit")
            button.uk-button.uk-button-default 페이지 수정
          a(href="https://#{hostname}/manage/1/view")
            button.uk-button.uk-button-primary 페이지 관리
        else
          a(href="https://#{hostname}/manage/1/create")
            button.uk-button.uk-button-default 서비스 추가
    div
      .uk-card.uk-card-primary.uk-card-body
        h3.uk-card-title 정품 인증 사이트
        p 마인크래프트 정품 유저인지 가장 확실하게 알 수 있는 서비스
        if(data2)
          a(href="https://#{hostname}/manage/2/edit")
            button.uk-button.uk-button-default 페이지 수정
          a(href="https://#{hostname}/manage/2/view")
            button.uk-button.uk-button-primary 페이지 관리
        else
          a(href="https://#{hostname}/manage/2/create")
            button.uk-button.uk-button-default 서비스 추가
    div
      .uk-card.uk-card-secondary.uk-card-body
        h3.uk-card-title 서버 상태 위젯
        p 마인크래프트 서버의 상태를 간편하게 확인할 수 있는 서비스
        if(data3)
          a(href="https://#{hostname}/manage/3/edit")
            button.uk-button.uk-button-default 페이지 수정
        else
          a(href="https://#{hostname}/manage/3/create")
            button.uk-button.uk-button-default 서비스 추가
