extends ../includes/layout
block contents
  .uk-card.uk-card-default.uk-card-body(class='uk-width-auto')
    h3.uk-card-title 후원 목록
    each row, i in rows
      p 닉네임: #{rows[i]['nick']}
      p 후원 금액: #{rows[i]['bal']}
      p 후원 방법: #{rows[i]['method']}
      p 핀번호: #{rows[i]['pin']}
      p 원하는 보상: #{rows[i]['bouns']}
      p IP: #{rows[i]['ip']}
      p 날짜: #{rows[i]['date']}
      button.uk-button.uk-button-primary 
        i(class="fas fa-check-circle")
        |  처리 완료
      button.uk-button.uk-button-default API 요청 없이 처리 완료
      button.uk-button.uk-button-danger
        i(class="fas fa-times-circle")
        |  처리 거절
      hr.uk-divider-icon

    p Powered by Baw Service
  br
  br
