extends ../includes/layout
block extscript
  script.
    $('.okay1, .okay1noapi, .okay2').click((event) => {
      var target = event.target
      var element = $(target).closest(".head")
      var id = $(element).attr("id")
      if($(target).hasClass("okay1") === true){
        var url = "https://#{hostname}/manage/#{data.service}/complete/"+id+"/1"
      }
      if($(target).hasClass("okay1noapi") === true){
        var url = "https://#{hostname}/manage/#{data.service}/complete/"+id+"/1?noapi=true"
      }
      if($(target).hasClass("okay2") === true){
        var url = "https://#{hostname}/manage/#{data.service}/complete/"+id+"/2"
      }
      $.ajax({
          type: 'get',
          url : url,
          success : function s(a){
            if(a.success == true){
              $(element).slideUp(500)
              iziToast.info({message: a.message, title: a.title})
              NProgress.done();
            } else {
              iziToast.warning({message: a.message, title: a.title})
              NProgress.done();
            }
          },
          error : function error(){ iziToast.warning({message: "Baw Service 빠른 설정 적용이 설정을 적용하는 도중 문제가 발생했습니다.", title:"이런.."}); }
      });
    })
 
block contents
  .ui.message
    .ui.header
      h2
        i.icon.tv
        .content
          | 처리 대기 #{data.name} 데이터 목록
    br
    each row, i in rows
      .head(id=rows[i]["num"])
        - var jsondata = JSON.parse(rows[i]["extradata"])
        each li, ii in list
          - if(json.indexOf(li) != -1)
            | #{korean[ii]}: #{jsondata[li]}
          - else 
            | #{korean[ii]}: #{rows[i][li]}
          br
        br
        .ui.buttons.primary
          .ui.button.icon.labeled.okay1
            i.icon.check
            | 처리 완료
          .ui.floating.dropdown.icon.button
            i.dropdown.icon
            .menu
              .item.okay1noapi
                | API 요청 없이 처리 완료
        button.ui.button.icon.labeled.negative.okay2
          i.icon.times
          | 처리 거절
        .ui.divider
      
    - if (rows.length == 0)
      p 처리되지 않은 #{data.name}이 없습니다.
      .ui.divider
    h4 Powered by Baw Service
  .ui.message
    .ui.header
      h2
        i.icon.wrench
        .content
          | #{data.name} 데이터 관리자
    br
    a(href=`https://${hostname}/manage/${data.service}/data_manager`)
      button.ui.button.primary.icon.labeled(type='button')
        i.icon.database
        |  데이터 관리자 접근
    p Baw Service에 저장된 #{data.name} 데이터를 관리합니다.
  br
  br
