html
  head
    title 안녕
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='shortcut icon', href="https://#{hostname}/favicon.ico")
  body
    frameset(border='0', framespacing='0', rows='100%,*', frameborder='0')
      frame(name='mainpage', src="https://#{hostname}/#{url}")
