doctype html
html
  head
    title #{jsonuserdata['svname']}서버 후원 홈페이지
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/public/dashboard/semantic-ui/semantic.min.css')
    link(rel="stylesheet" href='/public/fontawesomepro/css/all.min.css')
    link(rel="stylesheet" href='/public/dashboard/css/dashboard/setting.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.3.0/css/iziToast.min.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='/public/dashboard/semantic-ui/semantic.min.js')
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.3.0/js/iziToast.min.js`)
    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-112023380-1')
    script.
      hostname = "#{hostname}"
      captcha_sitekey = "#{server_settings.g_captcha_site_key}"
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-112023380-1');
    style.
      body {
        background-image: url("#{jsonpagedata['background']}");
        background-color: #cccccc;
      }
      .ui.top.fixed.menu {
        margin-bottom: 20px;
      }
      .grecaptcha-badge {
        display: none;
      }
      

  body
    if jsonpagedata['youtube']
      #player.player
      style.
        .player {
          display: none;
        }
      script.
        var tag = document.createElement("script");
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName("script")[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player("player", {
            height: "390",
            width: "640",
            videoId: "#{jsonpagedata['youtube']}",
            events: {
            "onReady": onPlayerReady
            }
          });
        }
        function onPlayerReady(event) {
          player.playVideo();
        }
        function pv() {
          if (player.getPlayerState() == 1)
          player.stopVideo();
          else
          player.playVideo();
        }
    br
    br
    br
    .ui.container
      if(jsonuserdata['ninfo'] != "")
        .ui.success.message#ninfo
          i.close.icon
          .header
            | 계좌 이체 후원 정보
          p #{jsonuserdata['ninfo']}
        br
      .ui.attached.message
        if(authdata != false)
          .header <a style="color:DodgerBlue;" href="#" id="authed" data-content="이 후원 사이트는 Baw Service에서 #{authdata[0]['date']}에 #{authdata[0]['sv_ip']}으로 접속할 수 있는 #{authdata[0]['sv_name']}임을 확인하였습니다."><i class="fas fa-check-circle"></i></a> #{jsonuserdata['svname']}서버 후원하기
        else
          .header #{jsonuserdata['svname']}서버 후원하기
        p
          span(style="color:Red") *
          | 은 필수입니다.
      form#TRM(name='TRM', method='post', action=`https://${hostname}/user/donation`)
        .ui.form.attached.fluid.segment
          h4.ui.dividing.header 후원 정보
          .two.fields
            .field
              label
                span(style="color:Red") *
                | 후원 종류
              .ui.selection.dropdown.MethodSelect
                input(type='hidden', name='Combo')
                i.dropdown.icon
                .default.text 후원 수단을 선택하세요.
                .menu
                  - if (jsonpagedata['disabled'].indexOf('문화상품권1') == -1)
                    - var okdata = true
                    .item(data-value='문화상품권') 컬쳐랜드 - 문화상품권
                  - if (jsonpagedata['disabled'].indexOf('도서문화상품권') == -1)
                    - var okdata = true
                    .item(data-value='도서문화상품권') 북앤라이프 - 도서문화상품권
                  - if (jsonpagedata['disabled'].indexOf('해피머니') == -1)
                    - var okdata = true
                    .item(data-value='해피머니') 해피머니
                  - if (jsonpagedata['disabled'].indexOf('틴캐시') == -1)
                    - var okdata = true
                    .item(data-value='틴캐시') 틴캐시
                  - if (jsonpagedata['disabled'].indexOf('계좌이체') == -1)
                    - var okdata = true
                    .item(data-value='계좌이체') 계좌이체
                  if(!okdata)
                    .item(data-value='후원수단없음', disabled) 후원 수단 선택 불가
                    .item(data-value='후원수단없음', disabled) 관리자에게 문의하세요.
            .field
              label
                span(style="color:Red") *
                | 보상 선택
              .ui.selection.dropdown
                input(type='hidden', name='Radio')
                i.dropdown.icon
                .default.text 후원 보상을 선택하세요.
                .menu
                  - var bouns = jsonpagedata.bouns.split('||')
                  each boun in bouns
                    .item(value=boun) #{boun}
                    - var okdata2 = true
                  if(okdata2 == false)
                    .item(data-value='보상없음', disabled) 후원 보상 없음
          .two.fields
            .field
              label
                span(style="color:Red") *
                | 닉네임
              input.form-control(type='text', name='nick', size='20', placeholder='닉네임', required='')
            .field
              label
                span(style="color:Red") *
                | 후원 금액
              input.form-control(type='text', name='bal', size='20', onkeyup='getNumber(this);', placeholder='후원 금액', required='')
          .code
            .field
              label#code_text
                span(style="color:Red") *
                | 발행일 또는 인증번호
              input#code.form-control(type='text', size='16', name='code', placeholder='발행일 또는 인증코드')
          .nn
            .field
              label 
                span(style="color:Red") *
                | 의뢰자
              input#nname.form-control(type='text', name='nname', size='20', placeholder='입금자명')
          .ncombo
            .field
              label 
                span(style="color:Red") *
                | 상품권 핀번호
              table.normal
                td(width='25%')
                  input#pin1.form-control.pin(type='text', name='pin1', maxlength='4', onkeydown='return onlyNumber(event)', onkeyup='removeChar(event)', placeholder='4자리')
                td  - 
                td(width='25%')
                  input#pin2.form-control.pin(type='text', name='pin2', maxlength='4', onkeydown='return onlyNumber(event)', onkeyup='removeChar(event)', placeholder='4자리')
                td  - 
                td(width='25%')
                  input#pin3.form-control.pin(type='text', name='pin3', maxlength='4', onkeydown='return onlyNumber(event)', onkeyup='removeChar(event)', placeholder='4자리')
                td  - 
                td(width='25%')
                  input#pin4.form-control.pin(type='text', name='pin4', maxlength='6', onkeydown='return onlyNumber(event)', onkeyup='removeChar(event)', placeholder='4/6자리')
              table.teen
                td(width='34%')
                  input#pin1teen.form-control.pin(type='text', name='pin1', maxlength='4', placeholder='4자리')
                td  - 
                td(width='34%')
                  input#pin2teen.form-control.pin(type='text', name='pin2', maxlength='4', placeholder='4자리')
                td  - 
                td(width='34%')
                  input#pin3teen.form-control.pin(type='text', name='pin3', maxlength='4', placeholder='4자리')
          if jsonpagedata['email_reg'] == 1
            h4.ui.dividing.header 알림 정보
            .field
              label 이메일
              input#nname.form-control(type='email', name='email', size='20', placeholder='이메일')
              small 후원 처리가 완료되면 이메일로 알려드립니다.
        .ui.bottom.attached.message(style="text-align: center;")
          button.ui.animated.button.primary.g-recaptcha#donationcaptcha(type='submit', data-sitekey='6LeKTiwUAAAAANOYA7r37sTyquy_R0ljzSTVS6Bp', data-callback='captchaSubmit')
            .visible.content 
              i.far.fa-paper-plane
            .hidden.content
              | 제출
          button.ui.animated.button.red.basic(type='reset')
            .visible.content 
              i.fa.fa-trash
            .hidden.content
              |  재입력
          if jsonpagedata['youtube']
            button.ui.animated.button.red.pink(onclick='pv()', type='button')
              .visible.content 
                i.fab.fa-youtube
              .hidden.content
                |  BGM
        input(type='hidden', value=pagedata["name"], name='page')
          
      br
      br
      if jsonpagedata['lookup_ok'] == 1
        form(name="history")#history
          .ui.attached.message
            .header
              | 후원 금액 확인
            p 
              span(style="color:Red") *
              | 은 필수입니다.
          .ui.form.attached.fluid.segment
            .field
              label 
                span(style="color:Red") *
                | 닉네임
              input.form-control(type='text', name='nick', size='20', placeholder='닉네임', required='')  
            input(type='hidden', value=pagedata["name"], name='page')
            #view
          .ui.bottom.attached.message(style="text-align: center;")
            button.ui.animated.button.primary.g-recaptcha#historycaptcha(type='submit', data-sitekey='6LeKTiwUAAAAANOYA7r37sTyquy_R0ljzSTVS6Bp', data-callback='HistoryLookupCaptcha')
              .visible.content 
                i.far.fa-paper-plane
              .hidden.content
                | 제출
            button.ui.animated.button.red.basic(type='reset')
              .visible.content 
                i.fa.fa-trash
              .hidden.content
                |  재입력
            
      br
      br
  if(pagedata['notice'] != "")
    .ui.modal
      .header
        | 공지 사항 확인
      .image.content
        .description
          .ui.header 다음 공지 사항을 읽고 후원을 계속하세요.
          | !{pagedata['notice']}
      .actions
        .ui.positive.right.labeled.icon.button
          | 공지 사항을 읽었습니다.
          i.far.fa-check.icon
    
  script(src='https://cdn.jsdelivr.net/gh/Baw-Appie/scriptLoader@0.1/scriptLoader.min.js')
  script(src=`https://${hostname}/public/user_page/js/donation-semantic.js`)
  if jsonpagedata['lookup_ok'] == 1
    script(src=`https://${hostname}/public/user_page/js/history.js`)
  if(authdata != false)
    script.
      $('#authed').popup();
